body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 28px;
  margin: 0;
}

main {
  padding: 20px;
}

.small-image {
  width: 50px;
  height: auto;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin-top: 5em;
  padding-top: 30px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  header {
    padding: 10px;
  }

  h1 {
    font-size: 22px;
  }

  main {
    padding: 10px;
  }
}

/* Styles for the logo image on hover */
.logo-image:hover {
  opacity: 0.5;
  /* Set the opacity to 50% on hover */
}

.navbar {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: -80px 0;
}

.navbar.sticky {
  background-color: #fff;
}

.navbar ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  text-decoration: none;
  color: #d84021;
  font-weight: bold;
  position: relative;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.navbar-nav .nav-link {
  position: relative;
}

.navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #d84021;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover::before {
  opacity: 1;
}

.bg-custom-color {
  background-color: #d84021;
}

.btn-primary {
  background-color: #d84021;
  border-color: #d84021;
}

.btn-primary:hover {
  background-color: #ff6347;
  border-color: #ff6347;
}


/* Custom CSS to make the navbar sticky */







/*=================================================================
  Services section
==================================================================*/

/* Add some margin between the image and the h4 element */
.tab-menu img {
  margin-right: 10px;
  margin-top: -25px;
  /* Adjust the margin as per your preference */
}

/* Apply the underline for the active .tab-menu div */
.tab-menu.active {
  position: relative;
  /* Add position relative to the .tab-menu to position the underline */
}

/* Create the underline using ::after pseudo-element */
.tab-menu.active::after {
  content: '';
  position: absolute;
  bottom: 15%;
  left: 10%;
  width: 0;
  height: 5px;
  background-color: #D84021;
  /* Change the color as per your preference */
  transition: width 0.5s ease-in-out;
  /* Add the transition property for smooth animation */
}

/* Apply the animation to the .tab-menu with the 'active' class */
.tab-menu.active.animate-underline::after {
  width: 100%;
  /* Use the defined keyframes for the animation */
  animation: underline-appear 0.5s forwards ease-in-out;
}

/* Add the keyframes for the animation */
@keyframes underline-appear {
  0% {
    width: 0;
  }

  100% {
    width: 80%;
  }
}

/* Hide all content sections by default */
.tab-content {
  display: none;
}

/* Show content for the first menu item */
#content-point1 {
  display: block;
}

/* Apply flexbox to the .tab-menu container */
.tab-menu {
  display: flex;
  align-items: center;
  min-height: 6em;
  /* Use min-height instead of fixed height */
  margin-bottom: 1em;
  /* Add button-like styles */
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(216, 64, 33, 0.4);
  font-size: 16px;
}


/* Apply a bottom border to each .tab-menu div */
.tab-menu {
  border-bottom: 5px solid transparent;
  padding-bottom: -20px;
}

/* Apply pointer cursor on hover for .tab-menu elements */
.tab-menu:hover {
  cursor: pointer;
  opacity: .5;
}

#services-heading {
  margin-left: 11em;
}

#services-section {
  background-color: #FFA94409;
}


/* CSS for smaller devices */
@media (max-width: 1350px) {
  .tab-menu {
    display: flex;
    align-items: center;
    height: 3.5em;
    /* Adjust the height as needed */
    margin-bottom: 1em;
    /* Adjust the spacing between menu items */
    min-height: 8em;
  }

  .tab-menu img {
    width: 40px;
    /* Reduce the size of the icons */
    margin-right: 5px;
    /* Adjust the spacing between the icon and the text */
    margin-top: -10px;
    /* Adjust the vertical alignment of the icons */
  }

  .tab-menu h4 {
    font-size: 18px;
    /* Reduce the font size for h4 elements */
  }

  .tab-content {
    padding: 0 15px;
    /* Add horizontal padding to the content sections */
  }

  .tab-content ul {
    padding-left: 20px;
    /* Add left padding for the bullet points in the list */
  }
}

.maintenance {
  display: block;
  overflow: hidden;
}

.maint-img {
  float: right;
  width: 25em;
  /* Add some margin to create space between the image and the list */
  margin-left: 30px;
  /* Adjust this value to your liking */
}

@media (max-width: 540px) {
  .tab-menu {
    max-height: 20px;
    min-height: 3em;
  }

  .tab-menu.active::after {
    left: 13%;
    height: 3px;
  }

  .tab-content {
    margin-top: -30px;
  }
}









/*=================================================================
  Portfolio section
==================================================================*/

.card-image {
  height: 220px;
}

/* Media query for smaller screens */

@media (max-width: 421px) {
  .navbar-brand {
    display: none;
  }
}

.discover-logo .video-lightbox-item__thumbnail img {
  border-radius: 10px 10px 0 0;
}

.discover-logo .video-lightbox-item__brand-logo img {
  width: 140px;
}

#sizing-container_block_63f7d4735627a h1 {
  line-height: 120%;
  letter-spacing: 0.405px;
  font-size: 53px;
}

.purple-sub-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 145%;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

#sizing-container_block_63f7d5fd5627b p {
  font-weight: 500;
  line-height: 145%;
}

.reference-tag {
  color: #303030;
  font-size: 14px;
  line-height: 145%;
}

.reference-tag a {
  text-underline-offset: 3px;
  text-decoration: underline;
}

.reference-tag span {
  font-weight: 500;
}












/*=================================================================
  Contact Ssection
==================================================================*/

#contact-section {
  background-color: #AFC08320;
}

.heading-section {
  font-size: 28px;
  color: #000;
}

.wrapper {
  width: 100%;
}

.contact-wrap {
  background: #fff;
}

@media (max-width: 767.98px) {
  .info-wrap {
    height: 400px;
  }
}

.dbox {
  width: 100%;
  margin-bottom: 25px;
}

@media (max-width: 767.98px) {
  .dbox {
    margin-bottom: 25px !important;
    padding: 0 20px;
  }
}

.dbox p {
  margin-bottom: 0;
}

.dbox p a {
  color: #46b5d1;
}

.dbox .icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #46b5d1;
  margin: 0 auto;
  margin-bottom: 20px;
}

.dbox .icon span {
  font-size: 20px;
  color: #fff;
}

.dbox .text {
  width: 100%;
}

#message {
  resize: vertical;
}


.submitting {
  float: left;
  width: 100%;
  padding: 10px 0;
  display: none;
  font-size: 16px;
  font-weight: bold;
}


.wrapper {
  width: 100%;
}

.contact-wrap {
  background: #fff;
}

@media (max-width: 767.98px) {
  .info-wrap {
    height: 400px;
  }
}

.dbox {
  width: 100%;
  margin-bottom: 25px;
}

@media (max-width: 767.98px) {
  .dbox {
    margin-bottom: 25px !important;
    padding: 0 20px;
  }
}

.dbox p {
  margin-bottom: 0;
}

.dbox p span {
  font-weight: 500;
  color: #000;
}

.dbox p a {
  color: #D84021;
}

.dbox .icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #18341F;
  margin: 0 auto;
  margin-bottom: 20px;
}

.dbox .icon span {
  font-size: 20px;
  color: #fff;
}

.dbox .text {
  width: 100%;
}



.contactForm .label {
  color: #000;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.contactForm .form-control {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}

#contactForm .error {
  color: red;
  font-size: 12px;
}

#contactForm .form-control {
  font-size: 16px;
}

#message {
  resize: vertical;
}

#form-message-warning,
#form-message-success {
  display: none;
}

#form-message-warning {
  color: red;
}

#form-message-success {
  color: #28a745;
  font-size: 18px;
  font-weight: 500;
}

.submitting {
  float: left;
  width: 100%;
  padding: 10px 0;
  display: none;
  font-size: 16px;
  font-weight: bold;
}


.contact-image {
  margin-left: 10em;
  width: 78%;
}

.form-group {
  margin-bottom: 1rem;
}











.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .form-control {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}

select.form-control:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}

.form-control-file,
.form-control-range {
  display: block;
  width: 100%;
}

.col-form-label {
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5;
}

.col-form-label-lg {
  padding-top: calc(0.5rem + 1px);
  padding-bottom: calc(0.5rem + 1px);
  font-size: 1.25rem;
  line-height: 1.5;
}

.col-form-label-sm {
  padding-top: calc(0.25rem + 1px);
  padding-bottom: calc(0.25rem + 1px);
  font-size: 0.875rem;
  line-height: 1.5;
}

.form-control-plaintext {
  display: block;
  width: 100%;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  margin-bottom: 0;
  line-height: 1.5;
  color: #212529;
  background-color: transparent;
  border: solid transparent;
  border-width: 1px 0;
}

.form-control-plaintext.form-control-sm,
.form-control-plaintext.form-control-lg {
  padding-right: 0;
  padding-left: 0;
}

.form-control-sm {
  height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.form-control-lg {
  height: calc(1.5em + 1rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

select.form-control[size],
select.form-control[multiple] {
  height: auto;
}

textarea.form-control {
  height: auto;
}

@media (max-width: 1200px) {
  .contact-image {
    width: 80%;
  }

  .form-group {
    margin-bottom: 11rem;
  }

  .form-control {
    height: calc(1.5em + 0.5rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
  }
}

#contact-section h1 {
  color: #631E12;
}
